<!--Footer-->
<footer class="container-fluid px-0 pt-4">
    <!--Navegação do footer-->
    <div class="container py-4 px-5">
        <nav class="gx-5 d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around gap-5">
            <!--Coluna 1: Links principais -->
            <div class="d-flex justify-content-around w-100 m-auto gap-5">
                <div class="w-50">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3"><a href="index.html" class="nav-link p-0 link-light">Home</a></li>
                        <li class="nav-item mb-3"><a href="atracoes.html" class="nav-link p-0 link-light">Atrações</a></li>
                        <li class="nav-item mb-3"><a href="hqs.html" class="nav-link p-0 link-light">HQ's</a></li>
                        <li class="nav-item mb-3"><a href="mangas.html" class="nav-link p-0 link-light">Mangás</a></li>
                        <li class="nav-item mb-3"><a href="animes.html" class="nav-link p-0 link-light">Animes</a></li>
                        <li class="nav-item mb-3"><a href="series.html" class="nav-link p-0 link-light">Séries Baseadas em HQ</a></li>
                    </ul>
                </div>
                
                <!--Coluna 2: Links adicionais -->
                <div class="w-50">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3"><a href="games.html" class="nav-link p-0 link-light">Games</a></li>
                        <li class="nav-item mb-3"><a href="expositores.html" class="nav-link p-0 link-light">Expositores</a></li>
                        <li class="nav-item mb-3"><a href="inscricoes.html" class="nav-link p-0 link-light">Inscrições</a></li>
                        <li class="nav-item mb-3"><a href="quemsomos.html" class="nav-link p-0 link-light">Quem Somos?</a></li>
                        <li class="nav-item mb-3"><a href="normas.html" class="nav-link p-0 link-light">Normas de Uso</a></li>
                        <li class="nav-item mb-3"><a href="contatos.html" class="nav-link p-0 link-light">Contatos</a></li>
                    </ul>
                </div>
            </div>
            
            <!--Coluna 3: Imagem do mascote-->
            <div class=" text-center">
                <img src="images/logos/mascoteFatecon.png" alt="meme" class=" px-4" style="width: 250px;">
            </div>
            
            <!--Coluna 4: Formulário da newsletter -->
            <div class=" w-75 m-auto py-4">
                <hr class="d-sm-none">
                <form>
                    <div class="text-light">
                        <h4>Assine nossa newsletter</h4>
                        <p>Receba nossas novidades</p>
                    </div>
                    <div class="form-floating d-flex gap-2 ">
                        <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">E-mail</label>
                        <button class="btn btn-warning" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    
    <!--Footer dos direitos e redes sociais-->
    <div class="container d-flex flex-sm-row justify-content-between py-4 border-top align-items-center px-5">
        <small class="fs-6 text-light">&copy; 2024 <img src="images/logos/mylogowhite.png" alt="" style="width: 18px;"> | DOCES E AMÁVEIS PREDADORES DE PELÚCIA - Todos Os Direitos Reservados.</small>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/fateconhqs/" target="_blank"><i class="bi bi-instagram fs-4"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://web.facebook.com/fateconhqs/" target="_blank"><i class="bi bi-facebook fs-4"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.threads.net/@fateconhqs" target="_blank"><i class="bi bi-threads fs-4"></i></a></li>
        </ul>
    </div>
</footer>