<!-- Header -->
<header class="p-1 border-bottom fw-semibold">
    <div class="container">
        <div class="navbar navbar-expand-lg">
            <a href="index.html"><img class="me-3 rounded-circle" src="images/logos/logo_equipe_v1.webp" alt="DAPP Logo" style="width: 50px;"></a>
            <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="index.html" class="nav-link link-light">Home</a></li>
                    <li class="nav-item"><a href="atracoes.html" class="nav-link link-light">Atrações</a></li>
                    <!--Dropdown-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-light" href="obras.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">HQs & Mangás</a>
                    <ul class="dropdown-menu bg-warning">
                        <li><a class="dropdown-item" href="hqs.html">História Das HQ's</a></li>
                        <li><a class="dropdown-item" href="mangas.html">História Dos Mangás</a></li>
                    </ul>
                    </li>
                    <!--Dropdown 2-->
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-light" href="tvecinema.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tv & Cinema</a>
                    <ul class="dropdown-menu bg-warning">
                        <li><a class="dropdown-item" href="animes.html">Animes</a></li>
                        <li><a class="dropdown-item" href="series.html">Séries Baseadas em HQ</a></li>
                    </ul>
                    <li class="nav-item"><a href="games.html" class="nav-link link-light">Games</a></li>
                    <li class="nav-item"><a href="expositores.html" class="nav-link link-light">Expositores</a></li>
                    <li class="nav-item"><a href="quemsomos.html" class="nav-link link-light">Quem Somos?</a></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-warning" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </nav>
        </div>
    </div>
</header>