@charset "UTF-8";

html {
  scroll-behavior: smooth;
  background-color: #00040D;
}
header  {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #00040D;
  margin: auto;
}

body {
  margin: auto;
  box-shadow: 0px 0px 10px #000000;
  background-color: #00040D;
}


img {
  box-shadow: 0px 0px 10px #000000;
}

/*PADRONIZAÇÃO DAS PÁGINA*/

iframe {
  border: solid 5px #eeeeb6;
}

.mapa {
  box-shadow: 0 0 10px #eeeeb6;
}

.naveg {
  background-color: #ffd700;
  box-shadow: 0px 0px 10px #000000;
  display: flex;
  margin: 9px 0px 10px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  font-family: BebasNeue-Regular;
  font-size: 22px;
  width: 1080px;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
  padding: 2px;
}

nav a:hover {
  color: #ffd700;
  background-color: black;
  padding: 2px 12px 2px 12px;
  transition: all 0.2s linear;
}

main {
  margin-top: 60px;
  margin-bottom: 60px;
}
.copyright,
.voltaraotopo {
  text-align: center;
  padding: 10px;
  background-color: #020e1e;
}

.copyright small {
  font-size: 14px ;
}

.footerpadrao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  font-size: large;
  background-color: #020e1e;
}

small {
  font-size: 10px;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}

address, .data, .redes {
  margin: 10px;
}

.data p, address p {
  margin: auto;
  font-style: normal;
}

.banner {
  margin: auto ;
  box-shadow: none;
  padding: 0;
}

.redes {
  display: flex;
  align-items: center;
}

.redes img {
  box-shadow: 0px 0px 10px #000000;
}

p a, figure a{
  text-decoration: none;
}

p a:hover, figure a:hover{
  text-decoration: underline;
}

/*PADRONIZAÇÃO DA PÁGINA*/

/*RECURSOS QUE SE REPETEM*/

.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.displayflex {
  display: flex;
  flex-wrap: wrap;
}

.articlelateral {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.asidelateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.semwrap {
  display: flex;
  justify-content: center;
}

.textoesquerda {
  display: flex;
  flex-direction: column;
  text-align:left;
}

.textocentro {
  text-align: center;
}

/*PADRONIZAÇÃO DA PÁGINA*/

/*HOME*/

.asidehomemeio {
  display: flex;
  flex: 1;
  margin: 20px 0px 20px 0px;
}

.miniaturacosplayer {
  float: left;
  margin-right: 10px;
}

.secaohome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.sec1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 240px;
  font-size: 19px;
}

.h4home {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

/*HOME*/

/*SOBRE O EVENTO*/
/*só teve recurso que se repete*/
/*SOBRE O EVENTO*/

/*FATECON 2022/2023/2024*/

.secaofatecon {
  margin: 10px 5px 10px 5px;
}

.pfatecon {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5px;
}

/*FATECON 2022/2023/2024*/

/*HQs*/

tr,
td,
th {
  padding: 10px;
}

thead tr {
  font-family: BebasNeue-Regular;
  font-size: 22px;
}

table {
  background-color: #eeeeb6;
  padding: 3px;
}

tr {
  background-color: #020e1e;
  color: white;
}

th {
  color: black;
  background-color: #f78956;
}

/*HQs*/

/*COSPLAYS*/

.cosplays-img {
  position: relative;
  margin-bottom: 60px;
  box-shadow: 0 0 10px #eeeeb6;
  overflow: hidden;
}


.cosplays-img img{
  transition: transform 1.0s ease;
}

.cosplays-img:hover img{
  transform: scale(1.04);
}

.texto1, .texto2, .texto3 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 40px;
}

.texto1-2, .texto2-2, .texto3-2{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.texto1 a,
.texto2 a,
.texto3 a {
  font-size: 25px;
}

.texto1-2 a,
.texto2-2 a,
.texto3-2 a {
  color: #ffd700;
  font-size: 30px;
}
/*COSPLAYS*/

/*CORES, FONTES, EFEITOS E MAIS*/

@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

h1 {
  font-family: BebasNeue-Regular;
  font-size: 40px;
  margin: 10px;
}

h2 {
  font-family: BebasNeue-Regular;
  font-size: 30px;
  margin: 10px;
}

h3 {
  font-family: BebasNeue-Regular;
  font-size: 23px;
  margin: 10px;
  background-color: #eeeeb6;
  border-radius: 5px;
}

p, figcaption, td {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}


li {
  font-family: BebasNeue-Regular;
  font-size: 22px;
  list-style: none;
  text-decoration: underline;
}

.voltaraotopo,
.voltaraotopo a {
  font-family: BebasNeue-Regular;
  font-size: 25px;
  color:#eeeeb6 ;
}

.voltaraotopo a:hover,
.secaohome a:hover {
  color: #00040D;
  background-color: #eeeeb6;
  padding: 5px;
  transition: all 0.2s linear;
  text-decoration: underline black;
}


/*mudanças finais*/
figcaption a {
  font-family: BebasNeue-Regular;
  color: white;
  font-size: 20px;
  padding: 0px;
}

.paddingtexto {
  padding: 0px 40px 20px 40px;
  margin: 0 auto auto auto;
}

p {
  line-height: 1.5em;
}

article p {
  text-indent: 1.5em;
}

/*ULTIMAS MUDANCAS*/
.asidelateral p, .asidelateral figcaption {
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  text-align: left;
}

.asidepessoas {
  display: flex;
  flex-direction: column;
}

.asidepessoas p {
  text-indent: 0;
  margin: 0;
}

.zeroindent {
  text-indent: 0;
  margin: 0;
  font-size: 12px;
}

/*pagina 'criador'*/
.imgcriador {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.linkcriador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.linkcriador h3 {
  background-color: unset;
}

/* container com mais fotos da galeria*/
.maisfotosgaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer img {
  width: 50px;
}

/*novas cores e mudanças adicionais*/

h1, h2, h4, h5, p, figcaption, .asidepessoas a {
  color: #eeeeb6;
}

main a {
  color:#ffd700;
}
.articlelateral {
  order: 1;
  
}

.ordenado {
  order: 0;
  flex: 1;
}

.asidelateral {
  order: 2;
}

.reverse {
  flex-direction: row-reverse;
}

p {
  color: #ffffff;
}

.mainsobre, .maincosplays {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 1080px;
}

.maincosplayer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 60px;
}
.destaques {
  margin: auto;
  margin-bottom: 60px;
  max-width: 1080px;
}

.ordenado article{
  margin: auto;
}

.ordenado h2 {
  text-align: center;
} 

main p {
  font-size: 18px;
}
.secprincipal {
  background-image: linear-gradient(to bottom, #00040d, #020e1e);

}
.secaohome {
  max-width: 1080px;
  border-top: solid 1px #eeeeb6;
  margin: auto;
}

.secaohome a {
  color: #eeeeb6;
  text-decoration: none;
}

.footerpadrao img {
  box-shadow: none;
  margin: 5px;
}
.ordem0 {
  flex: 1;
  order: 0;
}

.ordem1 {
  flex: 2;
  order: 1;
}

.ordem2 {
  flex: 1;
  order: 2;
}

.sechq {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.quadrohq {
  display: flex;
  flex-direction: column;
  flex:1;
  margin: 10px;
  flex-basis: 400px;
}

.flexstart {
  justify-content:flex-start;
}